root = true

[*]
indent_style = space
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = false

# C# files
[*.cs]
indent_size = 4
charset = utf-8

# Xml project files
[*.{csproj,vcxproj,vcxproj.filters,proj,nativeproj,locproj}]
indent_size = 2

# Xml build files
[*.builds]
indent_size = 2

# Xml files
[*.{xml,stylecop,resx,ruleset}]
indent_size = 2

# Xml config files
[*.{props,targets,config,nuspec}]
indent_size = 2