root = true

[*]
indent_style = space
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = false

# C# files
[*.cs]
indent_size = 4
dotnet_style_readonly_field = true:silent
dotnet_style_object_initializer = true:silent
dotnet_style_collection_initializer = true:silent
dotnet_style_prefer_inferred_anonymous_type_member_names = true:silent
dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = silent
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case
# IDE0051: Remove unused private member
dotnet_diagnostic.IDE0051.severity = silent
dotnet_diagnostic.WFO1000.severity = none

# Xml project files
[*.{csproj,vcxproj,vcxproj.filters,proj,nativeproj,locproj}]
indent_size = 2

# Xml build files
[*.builds]
indent_size = 2

# Xml files
[*.{xml,stylecop,resx,ruleset}]
indent_size = 2

# Xml config files
[*.{props,targets,config,nuspec}]
indent_size = 2