<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncBridge.Net35" version="0.2.0" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net35" />
  <package id="QrCode.Net" version="0.4.0.0" targetFramework="net35" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
</packages>