<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.36.0" targetFramework="net40" />
  <package id="MegaApiClient" version="1.0.4" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40" />
  <package id="SSH.NET" version="2014.4.6-beta1" targetFramework="net40" />
  <package id="System.Net.FtpClient" version="1.0.5281.14359" targetFramework="net40" />
</packages>