<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.50.0" targetFramework="net4" />
  <package id="MegaApiClient" version="1.1.1" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net4" />
  <package id="Portable.BouncyCastle" version="1.7.0.2" targetFramework="net4" />
  <package id="SSH.NET" version="2014.4.6-beta2" targetFramework="net4" />
  <package id="System.Net.FtpClient" version="1.0.5281.14359" targetFramework="net4" />
</packages>