name: Build ShareX

on:
  push:
    branches:
      - "**"
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
    paths-ignore:
      - "**/*.md"
      - "**/*.gitignore"
      - "**/*.gitattributes"

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: Windows-2022

    strategy:
      fail-fast: false
      matrix:
        configuration:
          - Release
          - Debug
          - Steam
          - MicrosoftStore
          - MicrosoftStoreDebug
        platform:
          - win-x64
          - win-arm64

    env:
      SOLUTION_FILE_PATH: ShareX.sln
      ASSEMBLY_INFO_PATH: Directory.build.props

    outputs:
      APP_VERSION: ${{ env.APP_VERSION }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Set APP_VERSION
        run: |
          $content = Get-Content "${{ env.ASSEMBLY_INFO_PATH }}" -Raw
          $pattern = '<Version>([0-9]+(?:\.[0-9]+){1,3})</Version>'
          $match = [regex]::Match($content, $pattern)
          $version = $match.Groups[1].Value
          if ($env:GITHUB_REF -eq "refs/heads/develop") {
            $version = "$version.$env:GITHUB_RUN_NUMBER"
            $content = [regex]::Replace($content, $pattern, "<Version>$version</Version>")
            Set-Content -Path "${{ env.ASSEMBLY_INFO_PATH }}" -Value "$content" -NoNewline
          }
          echo $version
          echo "APP_VERSION=$version" >> $env:GITHUB_ENV

      - name: Download API keys
        env:
          API_KEYS: ${{ secrets.API_KEYS }}
        if: env.API_KEYS != ''
        working-directory: ${{ env.GITHUB_WORKSPACE }}
        run: |
          Invoke-WebRequest -Uri "$env:API_KEYS" -OutFile "ShareX.UploadersLib\APIKeys\APIKeysLocal.cs"

      - name: Restore NuGet packages
        run: dotnet restore --runtime "${{ matrix.platform }}" "${{ env.SOLUTION_FILE_PATH }}"

      - name: Build
        run: dotnet build --no-restore --configuration "${{ matrix.configuration }}" --runtime "${{ matrix.platform }}" /m:1 "${{ env.SOLUTION_FILE_PATH }}"

      - name: Publish
        run: dotnet publish --no-build --configuration "${{ matrix.configuration }}" --self-contained true --runtime "${{ matrix.platform }}" "${{ env.SOLUTION_FILE_PATH }}"

      - name: Setup
        working-directory: ${{ env.GITHUB_WORKSPACE }}
        run: |
          $setupExe = "ShareX.Setup\bin\${{ matrix.configuration }}\${{ matrix.platform }}\ShareX.Setup.exe"
          $jobArgs = "-silent -job `"${{ matrix.configuration }}`""
          if ("${{ matrix.platform }}" -eq "win-arm64") {
            $jobArgs += " -CreateArm64"
          }
          & $setupExe $jobArgs

      - name: Upload artifact (Setup)
        if: matrix.configuration == 'Release'
        uses: actions/upload-artifact@v4
        with:
          name: Setup-${{ matrix.platform }}
          path: Output\ShareX-${{ env.APP_VERSION }}${{ matrix.platform == 'win-arm64' && '-win-arm64' || '' }}-setup.exe

      - name: Upload artifact (Portable)
        if: matrix.configuration == 'Release'
        uses: actions/upload-artifact@v4
        with:
          name: Portable-${{ matrix.platform }}
          path: Output\ShareX-${{ env.APP_VERSION }}${{ matrix.platform == 'win-arm64' && '-win-arm64' || '' }}-portable.zip

      - name: Upload artifact (Debug)
        if: matrix.configuration == 'Debug'
        uses: actions/upload-artifact@v4
        with:
          name: Debug-${{ matrix.platform }}
          path: Output\ShareX-${{ env.APP_VERSION }}${{ matrix.platform == 'win-arm64' && '-win-arm64' || '' }}-debug.zip

      - name: Upload artifact (Steam)
        if: matrix.configuration == 'Steam'
        uses: actions/upload-artifact@v4
        with:
          name: Steam-${{ matrix.platform }}
          path: Output\ShareX-${{ env.APP_VERSION }}${{ matrix.platform == 'win-arm64' && '-win-arm64' || '' }}-Steam.zip

      - name: Upload artifact (MicrosoftStore)
        if: matrix.configuration == 'MicrosoftStore'
        uses: actions/upload-artifact@v4
        with:
          name: MicrosoftStore-${{ matrix.platform }}
          path: Output\ShareX-${{ env.APP_VERSION }}${{ matrix.platform == 'win-arm64' && '-win-arm64' || '' }}.appx

      - name: Upload artifact (MicrosoftStoreDebug)
        if: matrix.configuration == 'MicrosoftStoreDebug'
        uses: actions/upload-artifact@v4
        with:
          name: MicrosoftStoreDebug-${{ matrix.platform }}
          path: Output\ShareX-${{ env.APP_VERSION }}${{ matrix.platform == 'win-arm64' && '-win-arm64' || '' }}-debug.appx

  release:
    name: Release
    needs: build
    if: github.ref == 'refs/heads/develop' || startsWith(github.ref, 'refs/tags/v')
    runs-on: windows-latest

    permissions:
      contents: write

    env:
      REPO_DEV_BUILDS: ${{ github.repository_owner }}/DevBuilds
      RELEASE_BODY_PATH: RELEASE_BODY.md
      APP_VERSION: ${{ needs.build.outputs.APP_VERSION }}

    steps:
      - name: Download artifact (Setup win-x64)
        uses: actions/download-artifact@v4
        with:
          name: Setup-win-x64
          path: Output

      - name: Download artifact (Setup win-arm64)
        uses: actions/download-artifact@v4
        with:
          name: Setup-win-arm64
          path: Output

      - name: Download artifact (Portable win-x64)
        uses: actions/download-artifact@v4
        with:
          name: Portable-win-x64
          path: Output

      - name: Download artifact (Portable win-arm64)
        uses: actions/download-artifact@v4
        with:
          name: Portable-win-arm64
          path: Output

      - name: Download artifact (Debug win-x64)
        if: github.ref == 'refs/heads/develop'
        uses: actions/download-artifact@v4
        with:
          name: Debug-win-x64
          path: Output

      - name: Download artifact (Debug win-arm64)
        if: github.ref == 'refs/heads/develop'
        uses: actions/download-artifact@v4
        with:
          name: Debug-win-arm64
          path: Output

      - name: Download artifact (Steam win-x64)
        if: github.ref == 'refs/heads/develop'
        uses: actions/download-artifact@v4
        with:
          name: Steam-win-x64
          path: Output

      - name: Download artifact (Steam win-arm64)
        if: github.ref == 'refs/heads/develop'
        uses: actions/download-artifact@v4
        with:
          name: Steam-win-arm64
          path: Output

      - name: Download artifact (MicrosoftStore win-x64)
        if: github.ref == 'refs/heads/develop'
        uses: actions/download-artifact@v4
        with:
          name: MicrosoftStore-win-x64
          path: Output

      - name: Download artifact (MicrosoftStore win-arm64)
        if: github.ref == 'refs/heads/develop'
        uses: actions/download-artifact@v4
        with:
          name: MicrosoftStore-win-arm64
          path: Output

      - name: Download artifact (MicrosoftStoreDebug win-x64)
        if: github.ref == 'refs/heads/develop'
        uses: actions/download-artifact@v4
        with:
          name: MicrosoftStoreDebug-win-x64
          path: Output

      - name: Download artifact (MicrosoftStoreDebug win-arm64)
        if: github.ref == 'refs/heads/develop'
        uses: actions/download-artifact@v4
        with:
          name: MicrosoftStoreDebug-win-arm64
          path: Output

      - name: Create release body file
        run: |
          $checksums = Get-ChildItem -Path "Output\" -Recurse -File `
            | Sort-Object -Property Name `
            | ForEach-Object { "| $($_.Name) | ``$((Get-FileHash $_.FullName -Algorithm SHA256).Hash)`` |" } `
            | Out-String
          $output = "| File | SHA256 |`r`n| --- | --- |`r`n$($checksums.Trim())"
          echo $output >> $env:GITHUB_STEP_SUMMARY
          if ($env:GITHUB_REF.StartsWith("refs/tags/v")) {
            $output = "**Changelog:** https://getsharex.com/changelog#$env:GITHUB_REF_NAME`r`n`r`n$output"
          }
          echo $output
          Set-Content -Path "${{ env.RELEASE_BODY_PATH }}" -Value "$output" -NoNewline